.sorting{
    margin:auto;
    font-size: 1.5vw;
    font-family: Garamond, serif;
    color: #ffffff;
    padding-top: 0.25cm;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    transform: translateX(5%); /* Adjust the % as needed */
}

.sorting sort_component{
    padding-left: 3cm;
}

.sorting_criteria:hover {
    cursor: pointer;
}