img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 10px;
}

.head {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
}

h1 {
    font-size: 3em;
    font-family: Verdana, Tahoma, sans-serif;
    background-image: linear-gradient(to top, #2E7D32 0%, #FF5722 100%);
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 0;
    padding: 0;
}

.logInButton {
    width: 100px;
    height: 100px;
    background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin-left: 35%;
    border-radius: 30%;
    align-items: center;
}